%script{:src => "http://agile.lab2023.com/s/d41d8cd98f00b204e9800998ecf8427e/en_USrrgvw8-1988229788/6160/29/1.4.3/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=4ffcba97", :type => "text/javascript"}
